torch==2.3.1+cpu --extra-index-url https://download.pytorch.org/whl/cpu
pytorch-crf==0.7.2
fastapi
uvicorn[standard]
python-dotenv
pydantic
SQLAlchemy
passlib[bcrypt]
python-jose[cryptography]
neo4j
PyMuPDF
PyPDF2
boto3
python-multipart
